[submodule "themes/lightbi-hugo"]
	path = themes/lightbi-hugo
	url = https://github.com/binokochumolvarghese/lightbi-hugo
[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
